.fade_wrapper {
  text-align: center;

  .projects {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
    gap: 30px;
  }

  .fade {
    display: flex;
  }

  .none {
    text-align: center;
  }
}
