.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: $fontsize-sm;
  line-height: $fontsize-md;
  font-weight: 500;
  color: $color-text;
  cursor: default;
}

.Value[data-placeholder] {
  opacity: 0.6;
}

.Select {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding-left: 0.875rem;
  padding-right: 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid $color-background-dark;
  border-radius: 0.375rem;
  background-color: $color-background;
  font-family: inherit;
  font-size: $fontsize-sm;
  line-height: 1.5rem;
  color: $color-text;
  -webkit-user-select: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: $color-background-dark;
    }
  }

  &[data-popup-open] {
    background-color: $color-background-dark;
  }

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: -1px;
  }
}

.SelectIcon {
  display: flex;
}

.Positioner {
  outline: none;
  z-index: $z-front;
  -webkit-user-select: none;
  user-select: none;
}

.Popup {
  box-sizing: border-box;
  border-radius: 0.375rem;
  background-color: $color-background;
  background-clip: padding-box;
  color: $color-text;
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid $color-background-dark;
    box-shadow:
      0 10px 15px -3px $color-background-dark,
      0 4px 6px -4px $color-background-dark;
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid $color-background-dark;
  }
}

.List {
  box-sizing: border-box;
  position: relative;
  padding-block: 0.25rem;
  overflow-y: auto;
  max-height: var(--available-height);
  scroll-padding-block: 1.5rem;
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: $color-background;
}

.ArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: $color-background-dark;
  }
}

.ArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: $color-background-dark;
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  font-size: $fontsize-sm;
  line-height: 1rem;
  padding-block: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  @media (pointer: coarse) {
    padding-block: 0.625rem;
    font-size: $fontsize-md;
  }

  [data-side='none'] & {
    font-size: $fontsize-md;
    padding-right: 3rem;
  }

  &[data-highlighted] {
    z-index: $z-bottom;
    position: relative;
  }

  &[data-highlighted]::before {
    content: '';
    z-index: $z-back;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: color.mix($color-primary, $color-on-primary, 10%);
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}

.ScrollArrow {
  width: 100%;
  background: $color-background;
  z-index: $z-base;
  text-align: center;
  cursor: default;
  border-radius: 0.375rem;
  height: 1rem;
  font-size: $fontsize-sm;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &[data-direction='up'] {
    &[data-side='none'] {
      &::before {
        top: -100%;
      }
    }
  }
  &[data-direction='down'] {
    bottom: 0;

    &[data-side='none'] {
      &::before {
        bottom: -100%;
      }
    }
  }
}
