.loading {
  $circle-size: 15px;

  width: calc($circle-size * 3 + 30px);
  height: $circle-size;
  text-align: center;
  margin: auto;

  & > div {
    position: relative;

    &,
    &::after,
    &::before {
      width: $circle-size;
      height: $circle-size;
      background-color: $color-primary;
      display: inline-block;
      border-radius: 50%;
      transform-origin: center center;
      animation: spScaleAlpha 1s infinite linear;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
    }

    &::before {
      left: 30px;
      animation: spScaleAlphaBefore 1s infinite linear;
    }

    &::after {
      right: 30px;
      animation: spScaleAlphaAfter 1s infinite linear;
    }
  }

  @keyframes spScaleAlpha {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0.25;
    }
    66% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes spScaleAlphaBefore {
    0% {
      opacity: 0.25;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
    }
  }
  @keyframes spScaleAlphaAfter {
    0% {
      opacity: 0.25;
    }
    33% {
      opacity: 0.25;
    }
    66% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
    }
  }
}
