.post_container {
  .title {
    border-bottom: 1px solid #000;
    padding-inline: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .postedat {
    text-align: right;
    padding-inline: 20px;
  }
}
