.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  text-align: center;

  & > * {
    height: 100px;
    margin-inline: auto;
  }

  .heading {
    height: auto;
    padding: 10px 0;
    grid-column: 1 / -1;
  }
}
